

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
	
h1 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 36px;
	padding-left: 25px;
	padding-top: 25px;
	font-weight:600;
	color:#414141;
	margin: 0 0 30px 0;
}

div.main-header h1 {
	margin-bottom: 10;
	margin:10;
	padding-top: 10;
	font-size: 25;
	display:inline-block;
	padding-left: 15;
	font-family: arial, helvetica;
}

div.main-header.heading-border-bottom {
	border-bottom: #4286f4 2px solid;
	background-color: #ccc;
}

#event-map { 
		  width: 100%;
		  height: 80%;


		}



	

.map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'arial';
        margin: 10px;
        display: none;
      }
      
 #event-map .map-control { display: block; }

.selector-control {
	  font-size: 14px;
	  line-height: 30px;
	  padding-left: 5px;
	  padding-right: 5px;